extends basic_layout

block content
    table.listing-table.table-dark.table-striped
        tr
            th Name
            th Password
            tr
                td= adminLogin
                td= adminPassword

    h1.text-center Choose table
    ul.nav.justify-content-center
        li.nav-item
            a.nav-link.active(href='#') Active
        li.nav-item
            a.nav-link(href='db/themes') Themes
        li.nav-item
            a.nav-link(href='db/difficulties') Difficulties
        li.nav-item
            a.nav-link(href='db/leagues') Leagues
        li.nav-item
            a.nav-link(href='db/questions') Questions
        li.nav-item
            a.nav-link(href='db/answers') Answers
        li.nav-item
            a.nav-link(href='db/users') Users
        li.nav-item
            a.nav-link(href='db/logs') Logs
