extends basic_layout

block content
    h1.text-center Choose table
    ul.nav.justify-content-center
        li.nav-item
            a.nav-link(href='./themes') Themes
        li.nav-item
            a.nav-link(href='./difficulties') Difficulties
        li.nav-item
            a.nav-link(href='./leagues') Leagues
        li.nav-item
            a.nav-link(href='./questions') Questions
        li.nav-item
            a.nav-link(href='./answers') Answers
        li.nav-item
            a.nav-link(href='./users') Users
        li.nav-item
            a.nav-link(href='./logs') Logs
