extends basic_layout

block content
    table.listing-table.table-dark.table-striped
        tr
            th Name
            th Password
            tr
                td= adminLogin
                td= adminPassword