doctype html
title TestPage
head
    meta(charset="UTF-8")
nav.menu
    ul.menu__list
        each value, index in {'Insert' : 'home', 'Update' : 'about', 'Delete' : 'services'}
            li
                a(href= "/" + value + ".html")= index

ul
    each elem in list
        li= elem.name + " - " + elem._id