doctype html
title #{title}
head
    meta(charset="UTF-8")
nav.menu
    ul.menu__list
        each value, index in {'Главная' : 'home', 'О компании' : 'about', 'Услуги' : 'services', 'Каталог' : 'catalog', 'Контакты' : 'contact'}
            li
                a(href= "/" + value + ".html")= index

p