extends basic_layout

block content

    .card-deck
        each _theme in list
            .card
                .card-body
                    h5.card-title Theme params
                    p.card-text= "ID: " + _theme.id
                    p.card-text= "Name: " + _theme.name
                    a.btn.btn-primary(href='/db/update/theme') Update
                    a.btn.btn-danger(href='/db/delete/theme') Delete

